# Environment variables
.env

# Virtual environments
.venv/
venv/

# Input and output files
.m4a
.mp3
.txt
.json


# Datasets
backend/data/Audio2Face-3D-Samples/

# Notebooks
notebooks/

# Additional files
.vscode/*