# Environment variables
.env

# Virtual environments
.venv/
venv/

# Input and output files
.m4a
.mp3
.txt
.json


# Datasets
backend/data/Audio2Face-3D-Samples/
backend/data/processed/
backend/data/raw/
backend/data/feedback/
backend/data/processed/file.json
backend/data/processed/file.txt

# Notebooks
notebooks/

# Additional files
.vscode/*