# Environment variables
.env

# Virtual environments
.venv/
venv/

# Input and output files
.m4a
.mp3
.txt
.json


# Dataset 
data/Audio2Face-3D-Samples/

# Notebooks
notebooks/

# Additional files
.vscode/*