@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-white : #ffffff;
  --color-red : #e63946;
  --color-honeydew : #f1faee;
  --color-blue : #a8dadc;
  --color-steel-blue : #457b9d;
  --color-dark-blue : #457b9d;
}
